@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

/* .embla {
}
.embla__viewport {
  overflow: hidden;

}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 auto; 
  min-width: 0;
  max-width: 100%;

} */
.swiper-button-next { color: red; }