@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

.swiper-button-next::after {
  font-size: 40px !important;
  color: white;
}
.swiper-button-prev::after {
  font-size: 40px !important;
  color: white;
}
