name: Cypress Tests

on: [push]

jobs:
  Cypress-Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Run cypress test
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          working-directory: frontend
          config-file: prod.config.js
      - name: Upload Cypress screenshots
        uses: actions/upload-artifact@v2
        if: failure() # Upload only if tests fail
          with:
            working-directory: frontend
            name: cypress-screenshots
            path: cypress/screenshots
